$background-color: #1a1a1a;
$primary-color: #08aeca;
$text-color: #f5f5f5;

$tag-rules-color: #ff6b6b;
$tag-community-color: #51cf66;
$tag-promo-color: #fcc419;

$discord-color: #7289da;
$github-color: #24292e;
$x-color: #000;